# ===== Python =====
__pycache__/
*.pyc

# ===== Virtual Environment =====
venv/
.env/
.env.*

# ===== Dataset & Data =====
data/
dataset/
*.npy

# ===== Model files =====
*.pt
*.pth

# ===== Logs =====
*.log

# ===== Compressed files =====
*.zip
*.tar
*.gz

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
.build/
.models/
